// Search form
.search-form {
  @extend .form-inline;
}
.search-form label {
  font-weight: normal;
  @extend .form-group;
}
.search-form .search-field {
  @extend .form-control;
}
.search-form .search-submit {
  @extend .btn;
  @extend .btn-default;
}

// Email signup form


.email-signup-form-2019 {
  background-color: $green;
  background-size: cover;
  background-position: center;
  padding: 30px;

  #mc_embed_signup {
      background-color: $green;
      clear: left;
      font: 14px Lato, Arial,sans-serif;

      h2 {
        color: $white;
        text-align: center;
        font-size: 20px;
        // margin: 0 0 30px -30px;
        // padding: 10px 0 10px 30px;
      }

      .mc-field-group-email {
        background-color: $green;
          color: white;
          // border: 1px solid green;
          width: 50%;
          margin: 0 auto;
          display: flex;
          label {
            color: white;
            span {
              color: white;
            }
          }
          input:nth-of-type(1) {
            background-color: $green;
            border-radius: 0px;
            border: 1px solid white;
            width: 70%;
            border-right: none;
            display: inline-block;
            padding: 15px 0;
            text-indent: 3%;
          }
          input:nth-of-type(2) {
            background-color: $green;
            border-radius: 0px;
            border: 1px solid white;
            border-left: none;
            width: 30%;
            color: white;
            text-transform: none;
            display: inline-block;
            padding: 15px 0;
            text-indent: 3%;
          }
          input:focus {
            outline: none !important;
            color: white;
          }
          ul {
            li {
              input {
                background-color: $green;
                border-radius: 0px;
                border: 1px solid white;
              }
            }
          }
        }
        .input-group {
            background-color: $green;
            color: white;
            width: 50%;
            margin: 0 auto;
            ul {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              flex-wrap: wrap;
              li {
                display: flex;
                // margin-right: 40px;
                width: 25%;


                input[type="checkbox"]{
                  background-color: $green;
                  border-radius: 0px;
                  border: 1px solid white;
                  height: 15px;
                  width: 15px;
                  margin: 0px 0px 10px 0px;
                }
                input[type="checkbox"]:checked ~ label::before {
                    color: #7bbe72;
                }
                input[type="checkbox"]:checked ~ label::after {
                    -webkit-transform: rotate(-45deg) scale(1);
                    -moz-transform: rotate(-45deg) scale(1);
                    -ms-transform: rotate(-45deg) scale(1);
                    transform: rotate(-45deg) scale(1);
                }
                input:after {
                  content: '';
                    display: block;
                    width: 10px;
                    height: 5px;
                    border-bottom: 2px solid #7bbe72;
                    border-left: 2px solid #7bbe72;
                    -webkit-transform: rotate(-45deg) scale(0);
                    -moz-transform: rotate(-45deg) scale(0);
                    -ms-transform: rotate(-45deg) scale(0);
                    transform: rotate(-45deg) scale(0);
                    position: absolute;
                    top: 3px;
                    left: -5px;
                    // top: 12px;
                    // left: 10px;
                }
                label{
                  // position: absolute;
                  margin-left: 4px;
                  font-size: 12px;
                  font-weight: 400;
                  margin-bottom: 0;

                }
              }
            }
          }
      }


  //
  //   span {
  //     font-family: $font-family-serif;
  //     font-style: italic;
  //     font-weight: bold;
  //   }
  // }

  // .mc_embed_signup {
  //   background: coral;
  //   padding: 20px;
  //
  //   @media (min-width: $screen-sm-min) {
  //     padding: 30px;
  //   }

}








// .email-signup-form {
//   background-color: coral;
//   background-size: cover;
//   background-position: center;
//   padding: 30px;
//
//   h2 {
//     background: $plum;
//     color: $white;
//     margin: 0 0 30px -30px;
//     padding: 10px 0 10px 30px;
//
//     span {
//       font-family: $font-family-serif;
//       font-style: italic;
//       font-weight: bold;
//     }
//   }
//
//   .mc_embed_signup {
//     background: $white70;
//     padding: 20px;
//
//     @media (min-width: $screen-sm-min) {
//       padding: 30px;
//     }
//   }
// }

// Mailchimp
// .mc-field-group {
//   margin-bottom: 1em;
//
//   ul {
//     list-style: none;
//     padding: 0;
//     margin: 0;
//   }
//
//   li {
//     display: inline-block;
//     margin-right: 1em;
//   }
//
//   label {
//     font-weight: normal;
//     vertical-align: middle;
//     margin: 0;
//     display: inline;
//   }
//
//   input[type="checkbox"] {
//     width: 25px;
//   }
// }

// Gravity Forms
// .gform_wrapper {
//   .top_label {
//     li.gfield.gfield {
//       margin-bottom: 1.5em;
//     }
//
//     .gfield_label {
//       margin: 0;
//       font-family: $font-family-sans-serif;
//       font-weight: normal;
//       color: $stone;
//     }
//   }
//
//   .ginput_complex, .gfield_time_hour, .gfield_time_minute {
//     label {
//       font-family: $font-family-sans-serif;
//       font-weight: 300;
//       color: $stone;
//     }
//   }
//
//   .gfield_checkbox {
//     li label {
//       font-weight: normal;
//     }
//   }
//
//   textarea, input[type=text], input[type=email], input[type=password], input[type=number], input[type=password] {
//     border: 1px solid $pearl;
//     border-radius: 3px;
//     font-family: $font-family-sans-serif;
//   }
//
//   .gform_footer {
//     input.button {
//       @extend .btn-default;
//     }
//   }
// }
.label-above .field-wrap, .label-below .field-wrap, .label-right .field-wrap {
  width: 100%;
}

.field-wrap .pikaday__container, .field-wrap .pikaday__display, .field-wrap>div input, .field-wrap select, .field-wrap textarea {
  background-color: $white;
  border: 1px solid black;
  color: $text;
}

.contact-us .ninja-forms-form-wrap input {
  color: $text;
  padding: 10px;
  height: auto;
}

.field-wrap input[type=button] {
  height: auto;
  padding: 10px 9px;
}

.label-right .nf-field-label {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    /* align-items: center; */
    padding-left: 5%;
    width: 35%;
    -ms-flex-order: 10;
    order: 10;
}

.nf-after-field .nf-error-msg {
    margin-right: 10px;
    font-family: Lato;
}






.wp-block-ninja-forms-form {

  // .nf-form-cont .email-box-inline {
  //     width: 93%;
  //     clear: none;
  //     float: left;
  //     position: absolute;
  //     border-radius: 5px;
  // }
  .hide {
    display: none;
  }
  .nf-error-field-errors {
    display: none;
  }
  .inline-block {
    display: inline-block;
  }
  .heading {
    text-align: center;
  }
  .field-wrap input[type=button] {
    height: 45px;
    padding: 0px 9px;
    width: 100%;
    border-radius: 5px;
    color: #FFF;
    background-color: #98A942;
    border-color: transparent;
    z-index: 10;
  }
  .field-wrap input:focus {
    outline: none !important;
  }
  .field-wrap .pikaday__container, .field-wrap .pikaday__display, .field-wrap>div input, .field-wrap select, .field-wrap textarea {
    background-color: $white;
    border: 1px solid black;
    border-radius: 5px;
    color: $text;
    height: 45px;
    font-family: $font-family-sans-serif;
    padding-left: 10px;
  }
  .field-wrap select:focus, .field-wrap textarea:focus {
    outline: none !important;
  }
  .nf-form-fields-required {
    display: none;
  }
  .svg-border-top {
    padding-bottom: 10px;
  }
  .svg-border-bottom {
    padding-top: 10px;
  }

}
