.block-recommended-bio {
    /* -webkit-box-flex: 1; */
    // -ms-flex: 1 0 calc(20% - 40px);
    // flex: 1 0 calc(30% - 40px);
    max-width: calc(50% - 40px);
    margin: 20px;
}


.recommended-blocks-bio {
    margin: 0 auto;
    display: -ms-flexbox;
    display: -webkit-box;
    display: -webkit-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
}
