.clear:before,
.clear:after {
  content: "";
  display: table;
}

.clear:after {
  clear: both;
}

// body::before {
//   background: #ECEDE8;
//   content: '';
//   left: 0;
//   position: absolute;
//   right: 0;
//   top: 0;
//   z-index: 1;
// }

.home-page-wrapper {
  margin: 0 auto;
  max-width: 1200px;
  width: 100%;
  position: relative;
}

.site-wrapper {
  margin: 0 auto;
  position: relative;
}

input, textarea, select {
  -webkit-appearance: none;
  border-radius: 0;
}

.listing .post {
  float: left;
  // margin-bottom: 2.5%;
  margin-right: 2.5%;
}
.listing .post a {
  // display: block;
  text-decoration: none;
}
.listing .post a:hover {
  color: #333333;
}
.listing .post a:hover .entry-title {
  color: #FF4F4E;
}

.listing .post .lead-image img {
  margin-bottom: 0;
}

.listing.listing-two .post {
  margin-right: 4%;
  width: calc( 96% / 2 );
}
.listing.listing-two .post:nth-of-type(2n) {
  margin-right: 0;
}
.listing.listing-two .post:nth-of-type(2n+1) {
  clear: both;
}
.listing.listing-two .post .entry-title {
  font-size: 26px;
  font-size: 2.6rem;
}
.listing.listing-two .post .entry-intro {
  font-size: 18px;
  font-size: 1.8rem;
}

.listing.small .post {
  position: relative;
  z-index: 10;
}

.listing.listing-headline .post {
  margin-right: 0;
  margin-top: -10px;
}

.listing.categories .post {
  margin-bottom: 15px;
}

.listing.categories .post a {
  text-decoration: none;
  transition: all 0.2s;
}
.listing hr {
  margin-bottom: 2.5%;
}

.featured.listing.listing-two .post {
  margin-bottom: 3%;
  margin-right: 3%;
  width: calc((94% - 318px ) / 2 );
}
.featured.listing.listing-two .post:nth-of-type(2n) {
  margin-right: 0;
}

.block {
  clear: both;
  margin-bottom: 40px;
  padding-top: 36px;
  position: relative;
}

.block-no-padding {
  clear: both;
  margin-bottom: 40px;
  position: relative;
}

.block .site-wrapper,
.block .home-page-wrapper {
  z-index: 3;
}

.block .section-title {
  color: #FFFFFF;
  position: relative;
  z-index: 10;
}
.block::before {
  content: '';
  height: 244px;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.block.small {
  padding-top: 20px;
}

.block.small::before {
  height: 175px;
}
.block.features::before {
  height: 280px;
}
.block.featured::before {
  display: none;
}

.carousel {
  margin-bottom: 0;
  padding-top: 0;
}
.carousel::before {
  display: none;
}
.carousel .carousel-right {
  float: right;
  width: 80%;
}
.carousel .carousel-right header {
  padding-top: 20px;
}
.carousel .carousel-right .listing {
  clear: none;
  float: right;
  margin-bottom: 0;
  padding: 0 15px;
  width: 49%;
}
.carousel .carousel-right .listing-headline {
  float: left;
  padding: 10px 0 0;

}
.carousel .carousel-left {
  float: left;
  width: 18.5%;
}
.carousel .carousel-left header {
  padding-top: 20px;
}
.carousel .carousel-left .listing {
  padding: 0 15px;
}
.carousel .carousel-left .listing .post {
  margin-right: 0;
}



@media screen and (max-width: 1024px) {

  .listing .post {
    float: left;
  }

  .carousel .carousel-right {
    width: 70%;
  }
  .carousel .carousel-right header {
    padding-top: 20px;
  }
  .carousel .carousel-right .listing {
    clear: both;
    float: none;
    margin-bottom: 0;
    padding: 0 15px;
    width: 100%;
  }
  .carousel .carousel-right .listing-headline {
    float: none;
    margin-bottom: 5%;
    padding: 10px 0 0;
  }
  .carousel .carousel-left {
    width: 28.5%;
  }
  .carousel .carousel-left header {
    padding-top: 20px;
  }
  .carousel .carousel-left .listing {
    padding: 0 15px;
  }
  .carousel .carousel-left .listing .post {
    margin-right: 4%;
  }
  .carousel .carousel-left .listing .post:nth-of-type(2n) {
    margin-right: 0;
  }

  .featured.listing.listing-two .post {
    margin-bottom: 5%;
    margin-right: 5%;
    width: calc( 95% / 2 );
  }
}

@media screen and (max-width: 768px) {

  .listing .post {
    // margin-bottom: 5%;
    // margin-right: 5%;
    // width: calc( 95% / 2 );
  }
  .listing .post:nth-of-type(2n) {
    margin-right: 0;
  }
  .listing .post:nth-of-type(2n+1) {
    clear: both;
  }
  .listing.listing-headline .post {
    margin-right: 0;
    width: 100%;
  }
  .listing.listing-two .post {
    margin-bottom: 5%;
    margin-right: 5%;
    width: calc( 95% / 2 );
  }
  .listing.listing-two .post:nth-of-type(2n) {
    margin-right: 0;
  }
  .listing.listing-two .post:nth-of-type(2n+1) {
    clear: both;
  }

  .carousel .carousel-right,
  .city-carousel .carousel-right,
  .feature-carousel .carousel-right {
    float: none;
    width: 100%;
  }
  .carousel .carousel-left,
  .city-carousel .carousel-left,
  .feature-carousel .carousel-left {
    float: none;
    width: 100%;
  }

  .feature-carousel .carousel-right {
    padding-top: 0;
  }

  .block::before {
    height: 0;
    padding-top: 37%;
  }
}

@media screen and (max-width: 600px) {
  .site-wrapper,
  .home-page-wrapper {
    padding: 0 18px;
  }
}

@media screen and (max-width: 420px) {
  .listing .post {
    float: none;
    margin-bottom: 10%;
    width: 100%;
  }
  .listing.listing-two .post {
    margin-bottom: 10%;
    margin-right: 0;
    width: 100%;
  }
}
