.flex-content.container {

  .row {
    margin: 15px 0px;
  }
  h1 {
    margin: 0;
  }
  section:last-of-type {
    margin-bottom: 60px;
  }
  p {
    margin-bottom: 0px;
  }
}


.flex-box {
  @include flex;
  // border: 1px solid red;
  .left-side, .right-side {
    width: 50%;
    align-self: center;
    padding: 20px;
  }
}

.video-flex {
  margin: 0 auto;
  width: 70%;
  padding: 50px 0px
}

.gallery-flex {
  padding: 50px 0px;
  @include flex;
  flex-wrap: wrap;
  justify-content: space-around;
  // border: 1px solid red;
  .img {
    max-width: 500px;
    margin-bottom: 30px;
  }
}

.twitter #ctf .ctf-item {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}

.twitter, .body-text-flex {
  padding: 50px 0px;
}


.recommended-blocks-center {
  margin: 0 auto;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
}
