.logo-section {
  background-color: #5C1043;
  width: 100%;
  padding: 50px 0px 0;
}

.logo-section__row {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
}

.logo-section__row__logo {
  padding: 0px 10px 45px;
  width: 33.3333%;
  align-self: center;
  text-align: center;

  @media (min-width: $screen-sm-min) {
    width: 25%;
  }

  @media (min-width: $screen-md-min) {
    width: 20%;
  }
}

.footer-bottom {
  position: relative;
  background-color: #5C1043;
  width: 100%;
  padding: 0 0 4rem;
}

.footer-bottom__row {
  @media (min-width: $screen-md-min) {
    display: flex;
    align-items: center;
  }
}

.footer-bottom__copyright {
  font-family: $font-family-sans-serif;
  color: $white;
  margin: 0px 6px;
  font-size: 13px;
  font-weight: 400;
  text-align: center;

  @media (min-width: $screen-md-min) {
    text-align: right;
  }

  a {
    color: white;

    &:hover {
      text-decoration: underline;
    }
  }
}

.footer-bottom__social {
    text-align: center;

    a {
      color: #fff;
      margin: .5rem;
      font-size: 130%;
    }

    @media (min-width: $screen-md-min) {
      text-align: left;
    }
}

.footer-bottom__signup form {
    display: flex;
    margin-top: 2rem;
    margin-bottom: 2rem;

    @media (min-width: $screen-md-min) {
      margin-top: 0;
      margin-bottom: 0;
    }

    [type="email"] {
        width: 100%;
        border: 1px solid white;
        border-right: 0;
        font-size: 14px;
        line-height: 1;
        padding: .75rem;
    }

    [type="submit"] {
        flex-shrink: 2;
        width: 100%;
        border: none;
        background: $sky;
        font-size: 14px;
        text-align: center;
        color: white;
        line-height: 1;
        padding: .75rem .5rem;
    }
    .mc-field-group  {
      display: none;
    }

}

// In iframe

// .in-iframe {
//     .logo-section, .footer-bottom {
//         display: none;
//     }
// }
//
// .global-nav-mobile__footer__signup {
//   .mc-field-group  {
//     display: none;
//   }
// }
