$nav-bg: #EDEFF2;

.global-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: $nav-bg; 
    z-index: 5000;
}

.global-nav__logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);   
}

.global-nav__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 115px;
}