.callout {
  background: $steel;
  padding: 30px;
  margin: 0 0 1.25rem;
  overflow: hidden;
  font-family: $font-family-sans-serif;
  color: $jet;

  .h1 {
    font-size: $font-size-h1;
    font-style: normal;
    margin-top: 0;
    color: inherit;

    .big {
      font-size: 1.2em;
      line-height: 1;
    }
  }

  h4 {
    margin-top: 0;
  }

  p {
    font-weight: 300;
    margin-bottom: 1em;
  }

  .button {
    margin: 0;
  }

  .menu {
    list-style: none;
    padding: 0;
    font-family: $font-family-sans-serif;

    li {
      padding-bottom: .25em;
      margin: 0;

      &.active {
        & > a {
          color: $plum-darker;
        }
      }
    }

    a {
      text-decoration: none;
      color: $jet;

      &:hover, &:active, &:focus {
        color: $navy;
      }
    }
  }

  @media (max-width: $screen-md-max) {
    padding: 15px;
  }
}

.aside {
  background: $steel;
  padding: 10px 20px;

  @media (min-width: 545px) {
    width: 50%;
  }

  & > h3:first-of-type {
    margin-top: 0;
  }
}

@media (min-width: $screen-md-min) {
  .archive, .edlibrary {
    .sidebar {
      .btn {
        white-space: normal;
        text-align: left;
        width: 100%;
      }
    }
  }
}






.wds-hero {
  margin-bottom: 0;
  overflow-y: hidden;
  position: relative;
  z-index: 1;
}
.wds-hero::after {
  background-color: rgba(0, 0, 0, 0.5);
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.wds-hero-content {
  align-items: center;
  color: #fff;
  display: flex;
  flex-direction: column;
  height: 500px;
  justify-content: center;
  margin: 0 auto;
  max-width: 50%;
  position: relative;
  text-align: center;
  z-index: 3;
}
.wds-hero-title {
  color: #fff;
  margin: 0 0 20px 0;
}
.wds-hero-description {
  color: #fff;
  margin: 0 0 15px 0;
}
.wds-hero .wds-button-hero {
  color: #fff;
}
.wds-hero .image-background {
  display: block;
  height: 100%;
  margin: 0;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  width: 100%;
  z-index: -1;
}
.wds-hero .image-background img {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.ie .wds-hero .wds-hero-title,
.ie .wds-hero .wds-hero-description {
  width: 100%;
}
