// Grid settings
// -------------------------

$main-sm-columns:       12;
$sidebar-sm-columns:    4;

$grid-gutter-width:     20px;

$container-lg:          1200px;
$container-md:          100%;



// Media queries breakpoints
// -------------------------

$screen-lg-min:         1280px;
$screen-md-max:         ($screen-lg-min - 1);


// Brand colors
// -------------------------
$scarlet-darkest: #7D0B22;
$scarlet-darker: #85132A;
$scarlet: #9D0E2B;
$scarlet-lighter: #B03E55;
$scarlet-lightest: #EBCFD5;

$fire-darkest: #9F320F;
$fire-darker: #A73A17;
$fire: #C73F13;
$fire-lighter: #D26542;
$fire-lightest: #F4D9D0;

$ginger-darkest: #B15010;
$ginger-darker: #B95818;
$ginger: #DE6515;
$ginger-lighter: #E48343;
$ginger-lightest: #F8E0D1;

$yellow: #FFDE17;
$yellow-dark: darken( $yellow, 20%);

$gold-darkest: #BD9624;
$gold-darker: #C59E2C;
$gold: #EDBC2D;
$gold-lighter: #F0C957;
$gold-lightest: #FBF1D5;

$lime-darkest: #93932D;
$lime-darker: #9B9B35;
$lime: #B8B839;
$lime-lighter: #C6C660;
$lime-lightest: #F1F1D8;

$pear-darkest: #798734;
$pear-darker: #818F3C;
$pear: #98A942;
$pear-lighter: #ACBA67;
$pear-lightest: #EAEED9;

$jade-darkest: #4E784B;
$jade-darker: #568053;
$jade: #62975E;
$jade-lighter: #81AB7E;
$jade-lightest: #E0EADF;

$sky-darkest: #44678F;
$sky-darker: #4C6F97;
$sky: #5681B3;
$sky-lighter: #779AC2;
$sky-lightest: #DDE6F0;



$denim-darkest: #273C68;
$denim-darker: #2F4470;
$denim: #314C83;
$denim-lighter: #5A6F9B;
$denim-lightest: #D6DBE6;

$navy-darkest: #1C2957;
$navy-darker: #24315F;
$navy: #24346D;
$navy-lighter: #4F5C8A;
$navy-lightest: #D4D7E2;

$indigo-darkest: #312054;
$indigo-darker: #39285C;
$indigo: #3E296A;
$indigo-lighter: #645387;
$indigo-lightest: #D9D5E1;

$plum-darkest: #5C1043;
$plum-darker: #64184B;
$plum: #731454;
$plum-lighter: #8F4376;
$plum-lightest: #E3D0DD;

$steel: #DCDFE5;
$pearl: #C3C6CC;
$heather: #AAADB3;
$sterling: #91949A;
$gray: #777A80;
$stone: #5D6066;
$ash: #44474D;
$raven: #2B2E34;
$jet: #12151B;

$text: rgba(0,0,0,.84);

$white:                 #FFFFFF;
$black:                 #000000;


$bright-blue: #3499CC;
$dark-blue: #384E77;
$green: #98A942;
$golden: #F6B041;
$coral: #EC6A56;
$email: $coral;
$light-grey: #DCDFE5;




$white70:               rgba(255, 255, 255, .8);
$steel-transparent: rgba(220, 223, 229, 0);
$pearl-transparent: rgba(195, 198, 204, 0);
$steel-70: rgba(220, 223, 229, .7);
$stone-transparent: rgba(93, 96, 102, 0);
$stone-70: rgba(93, 96, 102, .7);
$raven-transparent: rgba(43, 46, 52, 0);
$raven-60: rgba(43, 46, 52, .6);
$raven-30: rgba(43, 46, 52, .3);
$indigo-50: rgba(62, 41, 106, .5);
$navy-50: rgba(36, 52, 109, .5);

// Set standards
$brand-primary:         $plum;
$brand-success:         $pear;

$text-color:            $ash;

$link-color:            $sky;
$link-hover-color:      $navy;

$line-height: 1.6em;
$margin-bottom: 1.88em;


// Gradients
// -------------------------

  // Utility mixin from Compass
  @mixin filter-gradient($start-color, $end-color, $orientation: vertical) {
    $gradient-type: if($orientation == vertical, 0, 1);
    filter: progid:DXImageTransform.Microsoft.gradient(gradientType=#{$gradient-type}, startColorstr='#{ie-hex-str($start-color)}', endColorstr='#{ie-hex-str($end-color)}');
  }

@mixin trans-steel-gradient-bottom() {
  @include filter-gradient($steel-transparent, $steel, vertical);
  background-image: -o-linear-gradient(180deg, $steel-transparent 0%, $steel 100%);
  background-image: -moz-linear-gradient(180deg, $steel-transparent 0%, $steel 100%);
  background-image: -ms-linear-gradient(180deg, $steel-transparent 0%, $steel 100%);
  background-image: linear-gradient(180deg, $steel-transparent 0%, $steel 100%);
}

@mixin trans-pearl-gradient-bottom() {
  @include filter-gradient($steel-transparent, $pearl, vertical);
  background-image: -o-linear-gradient(180deg, $pearl-transparent 0%, $pearl 100%);
  background-image: -moz-linear-gradient(180deg, $pearl-transparent 0%, $pearl 100%);
  background-image: -ms-linear-gradient(180deg, $pearl-transparent 0%, $pearl 100%);
  background-image: linear-gradient(180deg, $pearl-transparent 0%, $pearl 100%);
}

@mixin trans-stone-gradient-bottom() {
  @include filter-gradient($stone-transparent, $stone-70, vertical);
  background-image: -o-linear-gradient(180deg, $stone-transparent 50%, $stone-70 100%);
  background-image: -moz-linear-gradient(180deg, $stone-transparent 50%, $stone-70 100%);
  background-image: -ms-linear-gradient(180deg, $stone-transparent 50%, $stone-70 100%);
  background-image: linear-gradient(180deg, $stone-transparent 50%, $stone-70 100%);
}

@mixin trans-raven-gradient-bottom() {
  @include filter-gradient($raven-transparent, $raven-60, vertical);
  background-image: -o-linear-gradient(180deg, $raven-transparent 50%, $raven-60 100%);
  background-image: -moz-linear-gradient(180deg, $raven-transparent 50%, $raven-60 100%);
  background-image: -ms-linear-gradient(180deg, $raven-transparent 50%, $raven-60 100%);
  background-image: linear-gradient(180deg, $raven-transparent 50%, $raven-60 100%);
}

@mixin trans-stone-gradient-top() {
  @include filter-gradient($stone-70, $stone-transparent, vertical);
  background-image: -o-linear-gradient(180deg, $stone-70 25%, $stone-transparent 100%);
  background-image: -moz-linear-gradient(180deg, $stone-70 25%, $stone-transparent 100%);
  background-image: -ms-linear-gradient(180deg, $stone-70 25%, $stone-transparent 100%);
  background-image: linear-gradient(180deg, $stone-70 25%, $stone-transparent 100%);
}

@mixin trans-white-gradient-bottom() {
  @include filter-gradient($transparent, $white, vertical);
  background-image: -o-linear-gradient(180deg, $transparent 0%, $white 70%);
  background-image: -moz-linear-gradient(180deg, $transparent 0%, $white 70%);
  background-image: -ms-linear-gradient(180deg, $transparent 0%, $white 70%);
  background-image: linear-gradient(180deg, $transparent 0%, $white 70%);
}

@mixin block-3 ($margin) {
  margin: $margin;
  flex: 1 0 calc(33.333% - 45px);
  max-width: calc(33.333% - 45px);
}

@mixin block-4 ($margin) {
  flex: 1 0 calc(25% - 40px);
  max-width: calc(25% - 40px);
  margin: $margin;
}

@mixin block-6 ($margin) {
  flex: 1 0 calc(16% - 40px);
  max-width: calc(16% - 40px);
  margin: $margin;
}

@mixin block-5 ($margin) {
  flex: 1 0 calc(20% - 40px);
  max-width: calc(20% - 40px);
  margin: $margin;
}

@mixin block-1 ($margin, $neg-margin) {
  flex: 1 0 calc(100% - #{$neg-margin});
  max-width: calc(100% - #{$neg-margin});
  margin: $margin;
}

@mixin block-1-test ($margin) {
  flex: 1 0 calc(100% - 40px);
  max-width: calc(100% - 40px);
  margin: $margin;
}

@mixin block-2 ($margin) {
  flex: 1 0 calc(50% - 40px);
  max-width: calc(50% - 40px);
  margin: $margin;
}

@mixin flex {
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flexbox;
  display: -webkit-flex;
  display: flex;
}


@mixin block-before ($height) {
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
  height: $height;
}

@mixin image-margin {
  margin-left: 15px;
  margin-right: 15px;
}

@mixin hover-link {
  background-image: linear-gradient($text, $text);
  background-position: 0 1.14em;
  background-repeat: repeat-x;
  background-size: 8px 2px;
}


@mixin underline {
  // background-image: linear-gradient($text, $text);
  // background-position: 0 1.14em;
  // background-repeat: repeat-x;
  // background-size: 8px 2px;
}

@mixin content-box($margin) {
  @include flex;
  margin: $margin;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding: 30px 0px 50px;
}

@mixin h1-rd {
  font-family: $font-family-serif;
  letter-spacing: .5px;
  color: $text;
  font-size: 42px;
  font-weight: 300;
}

@mixin h2-rd {
  font-family: $font-family-sans-serif;
  font-size: 30px;
  color: $text;
  font-weight: 700;
}

@mixin h3-rd {
  font-family: $font-family-sans-serif;
  font-size: 24px;
  color: $text;
  font-weight: 400;
  text-transform: none;
  margin: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  margin-top: 0px;
}

@mixin h4-rd {
  color: #333;
  font-family: $font-family-sans-serif;
  margin: 5px 0;
  font-weight: 300;
  font-size: 24px;
  // color: $text;
}

@mixin h5-rd {
  margin: 0;
  font-family: $font-family-serif;
  font-weight: normal;
  color: $jet;
  font-size: 20px;
}

@mixin h6-rd {
  font-family: $font-family-sans-serif;
  font-weight: bold;
  color: $jet;
  text-transform: uppercase;
  font-size: 16px;
  margin-top: 2em;
}

@mixin p-rd {
  font-family: $font-family-serif;
  font-size: 18px;
  line-height: $line-height;
  font-weight: 300;
  word-wrap: break-word;
  color: $text;
  margin-bottom: $margin-bottom;
}

@mixin p-large {
  font-size: 19px;
  line-height: 1.3em;
  word-wrap: break-word;
  color: $text;
  font-family: $font-family-sans-serif;
  font-weight: 400;
  letter-spacing: -0.1px;
}







@mixin mobile-margins {
  margin-left: 15px;
  margin-right: 15px;
}

@mixin li-rd($color) {
  font-family: $font-family-sans-serif;
  font-size: 18px;
  line-height: $line-height;
  font-weight: 400;
  word-wrap: break-word;
  color: $color;
}

.white {
  color: $white !important;
}

.mobile-only {
  display: none;
}

.full-screen {
  display: block;
}




// Typography
// -------------------------

$font-family-sans-serif:  Lato, sans-serif;
$font-family-serif:       Merriweather, serif;

$font-family-base:      $font-family-serif;

$font-size-base:        18px;

$headings-font-family:  $font-family-sans-serif;
$headings-font-weight:  400;


// Buttons
// -------------------------

$btn-default-color:     $white;
$btn-default-bg:        $pear;
$btn-default-border:    transparent;

$btn-primary-color:     $white;
$btn-primary-bg:        $plum;
$btn-primary-border:    transparent;


// Glyphicons path
// -------------------------
$icon-font-path:        "../fonts/";


// Navbar
// -------------------------

$navbar-height:         44px;
$navbar-margin-bottom:  0;
$navbar-border-radius:  0;
$navbar-padding-vertical: 12px;
$navbar-padding-horizontal: 8px;

$navbar-default-bg:     $steel;
$navbar-default-color:  $jet;
$navbar-default-border: none;

$navbar-default-link-color:         $jet;
$navbar-default-link-hover-color:   $navy;
$navbar-default-link-active-color:  $jet;
$navbar-default-link-active-bg:     transparent;


// Dropdowns
// -------------------------

$dropdown-bg:                    $pearl;
$dropdown-border:                transparent;
$dropdown-fallback-border:       transparent;
$dropdown-divider-bg:            transparent;

$dropdown-link-color:            $jet;
$dropdown-link-hover-color:      $navy;
$dropdown-link-hover-bg:         $pearl;

$dropdown-link-active-color:     $navy;
$dropdown-link-active-bg:        $pearl;


// Thumbnails
// -------------------------

$thumbnail-padding:       0;
$thumbnail-border:        none;
$thumbnail-border-radius: 0;


// Alerts
// -------------------------

$alert-padding:               10px;
$alert-border-radius:         0px;

$alert-danger-bg:             $scarlet-lightest;
$alert-danger-text:           $scarlet-darker;
$alert-danger-border:         $scarlet-lighter;


$purple: #731454;
$lightpurple: #901969;
$darkpurple: #5c1043;

$grey: #777a80;
$lightgrey: #dcdfe5;
$darkgrey: #44474d;

$black: #12151b;
$white: #fff;

$font-family-serif: "Merriweather", serif;
$font-family-sans-serif: "Lato", sans-serif;



a {
  // text-decoration: none;
  // -webkit-transition: all .3s ease;
  // -moz-transition: all .3s ease;
  // -ms-transition: all .3s ease;
  // -o-transition: all .3s ease;
  // transition: all .3s ease;
}
